page-main {
}

$slot-size: 37.5px;

.control-button {
  z-index: 1;
  float: right;
}

.left-joy {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 50%;
}

.left-joy .back {
  margin-top: -$slot-size/2 !important;
  height: $slot-size !important;
}

.right-joy {
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  right: 0;
}

.right-joy .back {
  margin-left: -$slot-size/2 !important;
  width: $slot-size !important;
}
