<ion-header>

  <ion-navbar>
    <ion-title>Play Tone</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="p-wrapper">
    <ul id="piano">
      <li *ngFor="let pianoKey of pianoKeys">
        <div style="height: 0;">&nbsp;</div>
        <div style="touch-action:none;" [ngClass]="{'down':active.get(pianoKey.whiteKeyId)}" class="anchor" (touchstart)="keyPress(pianoKey.whiteKeyId)" (touchend)="keyRelease(pianoKey.whiteKeyId)"></div>
        <span *ngIf="pianoKey.blackKeyId" style="touch-action:none;" [ngClass]="{'down':active.get(pianoKey.blackKeyId)}" (touchstart)="keyPress(pianoKey.blackKeyId)" (touchend)="keyRelease(pianoKey.blackKeyId)"></span>
      </li>
    </ul>
  </div>
</ion-content>
